*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(114,207,233);
    background: linear-gradient(90deg, rgba(114,207,233,1) 8%, rgba(226,93,238,1) 79%);
}
.container{
    height: 500px;
    width: 300px;
    background-color: white;
    margin: auto;
    margin-top: 35px;
    border: solid black 1px;
    border-radius: 5px;
}
#box1{
    margin-top: 25px;
    padding-left: 101px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 14px;
}
.box{
    padding-left: 30px;
    font-size: 12px;
}
#box2{
    margin-left: 97px;
}
input[type=text]
{
    border: none;
    border-bottom: groove black 1px;
    width: 202px;
    padding-left: 10px;
    font-size: 10px;
    height: 23px;
}
input[type=password]
{
    border: none;
    border-bottom: groove black 1px;
    width: 202px;
    padding-left: 10px;
    font-size: 10px;
    height: 23px;
}
#box3{
    font-size: 10px;
    padding-left: 189px;
}
input[type=submit]{
    width: 233px;
    height: 30px;
    border-radius: 68px;
    background: rgb(114,207,233);
    background: linear-gradient(90deg, rgba(114,207,233,1) 4%, rgba(226,93,238,1) 68%);
    color: #fff;
}
#box5{
    margin-left: 68px;
}
#box6{
    padding-left: 87px;
}
#box7{
    padding-left: 124px;
}
#box8{
    height: 21px;
    width: 20px;
    background-color: blue;
    border-radius: 50%;
    color: #fff;
    padding-left: 10px;
    padding-top: 5px;
}
#box9{
    height: 21px;
    width: 20px;
    background-color: cornflowerblue;
    border-radius: 50%;
    color: #fff;
    padding-left: 7px;
    padding-top: 5px;

}
#box10{
    height: 21px;
    width: 20px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    color: #fff;
    padding-left: 7px;
    padding-top: 5px;
}