body{
    background-image: url(./image/bg.jpg);
    
}

.flex-container{
    display: flex;
    width: 800px;
    height: 450px;
    margin: 100px auto;
    background-color: white;
    box-shadow: 1px 1px 69px -17px black;
}
/* inside left image section */
#image1{
    background-image: url(./image/bg1.png);
    height: 450px;
    width: 400px;
}
.content{
    margin: 40px 20px 20px 30px;
}

.head1{
    color: white;
    font-size: 5em;
    font-family: 'Outfit', sans-serif;
}

button{
    border: none;
    color: white;
    margin-top: 10px;
}

#b1{
    background-color:#4267B2 ;
    width: 50px;
    height: 40px;
    border-radius: 30px;
    box-shadow: 1px 1px 66px 2px black;
}

#b2{
    background-color: #00acee;
    height: 40px;
    width: 150px;
    border-radius: 30px;
    box-shadow: 1px 1px 339px 10px black;
}
.create1{
    margin-top: 10px;
    color: white;
}
/* inside the forms */
#form1{
    padding: 30px 40px 40px 50px;
}
/* Login text */
.head{
    font-size: 2em;
    font-weight: 900;
}

/* create acc text */

.create{
    margin-top: 10px;
    color: rgb(187, 186, 186);
}

img{
    height: 450px;
}

a{
    text-decoration: none;
    color: plum;
}

input{
    border: none;
    display: inline;
    width: 100%;
    height: 30px;
    margin: 10px 0px 10px 0px;
    margin-left: 10px;
}

::placeholder{
    height: 25px;
}

.input{
    border-bottom: 1px solid lightgray;
}

.forgot{
    margin-top: 10px;

}
.login{
    text-align: right;
}
#log{
    width: 100px;
    height: 40px;
    border: none;
    margin-top: 15px;
    background-color: rgb(109, 233, 109);
    border-radius: 20px;
    color: white;
    box-shadow:  1px 1px 24px -9px black;
}

#chech{
    display: inline-block;
    width: 20px;
    height: 15px;
}