body{
    background-image: url(./image/photo-1604382355076-af4b0eb60143.jfif);
    background-repeat: no-repeat;
    /* background-attachment: scroll; */
    /* background-attachment: fixed; */
    background-size: 1250px 800px;
}